<Page class="project-adder">
    <Page.actionbar>
        <ActionBar>
            <NavigationButton text="Go back" android.systemIcon="ic_menu_back"></NavigationButton>>
        </ActionBar>
    </Page.actionbar>
    <FlexboxLayout class="page">
        <StackLayout class="form">
            <StackLayout class="input-field">
                <TextField hint="Name" 
                class="input"
                [(ngModel)]="model.name" 
                #username="ngModel"
                autocapitalizationType="none"
                autocorrect="false"></TextField>
            </StackLayout>
            <StackLayout class="input-field">
                <TextView hint="Description" 
                [(ngModel)]="model.description"
                #password="ngModel"
                autocapitalizationType="none"
                secure="true"></TextView>
            </StackLayout>
                <Button text="Create" class="lissome-btn lissome-btn_filled"></Button>
            </StackLayout>    
        </FlexboxLayout>
    </Page>