# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules
/app/node_modules
node_modules
platforms
hooks
tags
**/*.js.map
**/*.metadata.json

/nativescript-angular/**/*.d.ts
/nativescript-angular/**/*.js

!/nativescript-angular/global.d.ts
!/nativescript-angular/postinstall.js
!/nativescript-angular/hooks/**/*.js
!/nativescript-angular/gulpfile.js
!/nativescript-angular/zone-js/dist/*.js

.tscache
.nvm
.vscode
.DS_Store
npm-debug.log
nativescript-angular*.tgz
package-lock.json

# Apps' JS files
tests/app/**/*.js
tests/test-output.txt
ng-sample/app/**/*.js

# Webpack configuration files
webpack.config.js
vendor.ts
vendor-platform.android.ts
vendor-platform.ios.ts

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
