.project {
    min-height: 50;
    background-color: white;
    border-radius: 15px;
    padding: 10;
    border-width: 2;
    border-color: #e6eaed;
    margin-top: 15;
    margin-bottom: 15;
}

.project Label {
    padding-bottom: 10;
}

.project__amount {
    background-color: #f7f8f9;
    border-radius: 15px;
    color: #6ACB90;
    font-weight: bold;
    padding: 5;
    width: auto;
}

.project__name {
    
}

Progress {
    color: #6ACB90;
    background-color: #E8F5E9;
    margin: 0;
    border-radius: 15px;
}